!!!
%html
  %head
    %title IntroduceME
  %body
    %h1 IntroduceME
    %p
      = "A #{@animal}???? Well, each to their own..."
    %h2 Here is a summary of the data you entered:
    %ul
      %li
        %p
          Name:
          = @person.name
      %li
        %p
          Country:
          = @person.country
      %li
        %p
          Animal:
          = @person.animal
      %p
        %a{:href => "/"} Add another user
