%p.repeat
  = "A #{@animal}???? Well, each to their own..."
%p Now let me introduce you to some people I have recently met
%ul
  - @people.each do |person|
    %li
      %p
        = "#{person.name}  "
        = "with a #{person.animal} "
        = "from #{person.country}"
%p
  %a.add-more{:href => "/"} Add another user
