!!!
%html
  %head
    %title IntroduceME
  %body
    %h1 IntroduceME
    %p
      = "A #{@animal}???? Well, each to their own..."
    %h2 Here is a summary of the data you entered:
    %ul
      %li
        %p
          Name:
          = @name
      %li
        %p
          Country:
          = @country
      %li
        %p
          Animal:
          = @animal
      %p
        %a{:href => "/"} From the top
