%p
  = "A #{@animal}???? Well, each to their own..."
%h2 Data summary
- @people.each do |person|
  %li
    %p
      = "Name: #{person.name} | "
      = "Country of origin: #{person.country} | "
      = "Spirit animal: #{person.animal}"
    %p
      %a{:href => "/"} Add another user
